.main{
    background-image: url("../../../../../public/assets/home/mobile/image-speaker-zx7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    height: 320px;
    width: 87%;
}
.card{
    margin-top: 101px;
    margin-left: 24px;
}
.speaker{
    margin-bottom: 32px;
    font-size: 28px;
    font-weight: bold;
}
.button{
    all:unset;
    font-size: 13px;
    min-width: 160px;
    min-height: 48px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 700;
    border: 1px solid black;
}


@media screen and (min-width: 1024px) {
    .main{
        background-image: url("../../../../../public/assets/home/desktop/image-speaker-zx7.jpg");

    }
 
   
  }