:root {
  --peru:#D87D4A;
  --chinese-black:#101010;
  --anti-flash-white:#f1f1f1;
  --lotion:#fafafa;
  --white:#fff;
  --black:#000;
  --very-light-tangelo:#fbaf85;
  --first-button-default:#D87D4A;
  --first-button-hover:#FBAF85;
  --text-field-default:#CFCFCF;
  --text-field-active:#D87D4A;
  --text-field-error:#CD2C2C;
  --radio-selection-default:#CFCFCF;
  --radio-selection-active:#D87D4A;
  --radio-selection-hover:#D87D4A;
  --numbers-default:#F1F1F1;
  --number-hover:#D87D4A;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
 }

