.main {
  width: 87%;
  background-color: var(--anti-flash-white);
  margin-top: 123px;
  margin-bottom: 117px;
}
.imgContainer {
  background-image: url("../../../../../public/assets/shared/mobile/image-best-gear.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  border-radius: 8px;
}

.contnet {
  display: flex;
  flex-direction: column;
}

.gear {
  text-transform: uppercase;
  font-size: 28px;
  margin-bottom: 32px;
  margin-top: 40px;
  text-align: center;
}
.best {
  color: var(--peru);
}
.text {
  font-size: 15px;
  opacity: 0.5;
  line-height: 25px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .imgContainer {
    background-image: url("../../../../../public/assets/shared/tablet/image-best-gear.jpg");
  }
}

@media screen and (min-width: 1024px) {
  .main {
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
    min-height: 558px;
  }

  .imgContainer {
    background-image: url("../../../../../public/assets/shared/desktop/image-best-gear.jpg");
    min-width: 540px;
  }
}
